a
	text-decoration: none
	color: inherit
.container
	width: 1170px
	margin: 0 auto
header
	padding: 25px 0 150px 0
	background-image: url(../img/header-bg.png)
	background-repeat: no-repeat
	background-size: 100%
	.header-row__top
		margin-bottom: 220px
		display: flex
		justify-content: space-between
		align-items: center
	.header-logo
		img
		 width: 130px
	.header-nav__bar
		.header-nav-bar__item
			display: inline-block
			margin-left: 60px	 
			font-size: 14px
			color: #e0e1e3
	.header-tittle
		text-transform: capitalize
		color: #fff
		font-size: 58px
		line-height: 23px
		font-weight: bold
		text-align: center
		margin-bottom: 50px
	.header-description	
			color: #ffffff
			font-size: 25px
			line-height: 23px
			text-align: center
			margin-bottom: 95px
	button
		display: block
		font-size: 25px
		line-height: 23px
		color: #ffffff
		background-color: #00a5ff
		border-radius: 35px
		padding: 25px 70px	
		margin: 0 auto
.services
	background-color: #fff
	padding: 70px 0 100px 0
	.services-tittle
		text-transform: capitalize
		color: #3a3f4b
		font-size: 42px 
		line-height: 23px
		font-weight: bold
		margin-bottom: 100px
		text-align: center
	.services-list
		display: flex
		justify-content: space-between
		align-items: center
	.services-list__img
		background-color: #f5f6f8
		width: 80px
		height: 80px
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
	.services-list__tittle
		font-size: 18px
		text-transform: uppercases
		color: #3a3f4b
	.services-list__description
		color: #a6a6a6
		font-size: 12px
		line-height: 20px	





